@model StudentViewModel

@{
    ViewData["Title"] = "회원님 추가";
}

@if (User.Identity.IsAuthenticated && User.IsInRole("manager"))
{
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1 class="text-center">@ViewData["Title"]</h1>
        <hr />
        <form method="post" class="form-horizontal">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name">이름</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthday">생년월일</label>
                <input asp-for="Birthday" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender">성별</label>
                <select asp-for="Gender" class="form-control">
                    <option value="남">남</option>
                    <option value="여">여</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber">PhoneNumber</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address">주소</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ins">악기</label>
                <select asp-for="Ins" class="form-control">
                    <option value="Piano">Piano</option>
                    <option value="Violin">Violin</option>
                    <option value="Viola">Viola</option>
                    <option value="Flute">Flute</option>
                    <option value="Clarinet">Clarinet</option>
                    <option value="Guitar">Guitar</option>
                </select>
                <span asp-validation-for="Ins" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeacherId">담당 선생님</label>
                <select asp-for="TeacherId" class="form-control">
                    @foreach (Teacher t in Model.Teachers)
                    {
                        <option value="@t.TeacherId">@t.Name</option>
                    }
                </select>
                <span asp-validation-for="TeacherId" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-info">등록</button>
            </div>
        </form>
    </div>
</div>
}
