@{
    ViewData["Title"] = "RubySound";
}

<div class="text-center">
    <h1 class="display-4">Welcome To RubySound</h1>
    <br />
    <div class="form-group">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Introduce">
            <img src="./Image/mainImage.jpg" />
        </a>
    </div>
</div>
